body {
  background-color: rgb(0, 128, 0);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

img {
  display: block;
  margin: 0 auto;
  width: 60%;
}

dl {
  width: 60%;
  margin: auto;
  border: 2px solid black;
  margin-top: 2rem;
}

dt {
  background-color: aliceblue;
  padding: 1rem;
  font-weight: bold;
}

dd {
  padding: 1rem;
}

dd {
  padding: 1 rem;
}

p {
  background-color: white;
  width: 80%;
  margin: 1rem auto;
  padding: 1 rem;
  border: 2 px solid black;
}

ul {
  background-color: white;
  width: 80%;
  margin: 1rem auto;
  padding: 1 rem;
  border: 2 px solid silver;
  padding-left: 4rem;
}

a {
  display: block;
  text-align: center;
  margin: auto;
  padding: 1 rem;
}
