html {
  scroll-behavior: smooth;
}

body {
  background-color: red;
  margin: 0;
  color: #333;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 25px;
}

#pageheader {
  background-color: #790805;
  min-height: auto;
  padding: 1rem;
}

#pageheader nav ul {
  list-style-type: none;
  padding: 0;
  background-color: none;
  margin: 0;
}

#pageheader nav ul li {
  border: 2px solid black;
  padding: 1rem;
  background-color: darkkhaki;
  margin: 0.5rem;
}
#pageheader nav {
  text-align: center;
}

#pageheader nav ul li:hover {
  background-color: #9a2420;
}

#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: none;
  background-image: url(Images/ChatGPT\ Image\ Feb\ 24\,\ 2026\,\ 11_00_25\ AM.png);
  background-size: cover;
  border-radius: 50%;
  border: 2px solid white;
  margin: auto;
}

#pageheader .container {
  background-color: #790805;
  min-height: auto;
  text-align: center;
}

#media {
  background-color: black;
  min-height: 1rem;
  padding: 1rem;
  background-image: url(Images/wallpaper2.png);
  background-size: cover;
  aspect-ratio: 16 / 9;
}

#career {
  background-color: black;
  min-height: 10rem;
  padding: 1rem;
}

#pagecontent {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
}

#semester1 {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
}

#semester2 {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
}

#pagefooter {
  background-color: rgb(0, 0, 0);
  min-height: auto;
  padding: 1rem;
}

#pagefooter .container {
  text-align: center;
  min-height: auto;
}

#subfooter {
  background-color: #790805;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  display: block;
  margin: auto;
  background-color: white;
  border: 5px solid white;
}

#aifooter {
  background-color: black;
  color: white;
  min-height: auto;
  padding: 1rem;
  text-align: center;
}
#aifooter .container {
  min-height: auto;
  text-align: center;
}

blockquote {
  border-left: 5px solid none;
  margin-left: 0;
  padding-left: 1rem;
  font-style: italic;
  text-align: center;
}

a {
  color: #790805;
  text-decoration: none;
}
@media screen and (min-width: 600px) {
  #pageheader nav ul {
    background-color: #790805;
    margin-top: 2rem;
  }

  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: black;
  }

  #career {
    background-color: black;
  }
}

@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: rgb(0, 0, 0);
  }

  #career {
    background-color: rgb(0, 0, 0);
  }
  #logo {
    margin: 1px;
  }
}
