/*  */
/* ? */
/* todo */
/* ! */



body {
  background-color: rgb(34, 185, 245);
}
h1 {
  color: rgb(78, 121, 147);
  background-color: white;
  padding: 1 rem;
}
ul {
  font-family: "Courier New", Courier, monospace;
}
